body {
    display: inline-block;
}

ul {
    white-space: nowrap;
    list-style-type: none;
}

li:hover {
    cursor: pointer;
    background-color: Gainsboro;
}

.optionalDiv {
    display: none;
}